CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_HAP_HTTP_SERVER_PORT=12080
CONFIG_HAP_HTTP_CONTROL_PORT=12081
CONFIG_HAP_HTTP_MAX_OPEN_SOCKETS=2
CONFIG_LWIP_MAX_SOCKETS=24
CONFIG_HAP_HTTP_STACK_SIZE=6144
CONFIG_MDNS_NETWORKING_SOCKET=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
CONFIG_ESP_INT_WDT_TIMEOUT_MS=300
CONFIG_ESP_TASK_WDT_TIMEOUT_S=5
CONFIG_ESP_MAIN_TASK_STACK_SIZE=3584
